<footer class="grey-lighten-2 bg-footer">
    <div class="text-white text-center py-3">© 2019 Copyright :
        <a href="http://d-riviere.fr/" class="text-decoration-none"> d-riviere.fr</a>
    </div>
</footer>