{% extends 'base.html.twig' %}

{% block title %}{% for trick in trick %}SnowTricks -{{ trick.name }}{% endfor %} {% endblock %}

{% block body %}
    {% for trick in trick %}

<div class="container">
    <main>

        <!-- Start Trick -->

        <section>
            {% include'tricks/showTrick.html.twig' %}
        </section>



        <!-- Start Carousel -->

        <section class="row">
                {% include'tricks/carousel.html.twig' %}
        </section>

        <!-- End Carousel -->

        <!-- End Trick -->




        <!-- Start Comment Add Form -->

        <div class="container">
            <div class="card mb-3">
            <h4 class="card-header text-center">Commentaires</h4>
            {% if app.user %}
                {% include'tricks/_comment-form.html.twig' %}
            {% endif %}

            <!-- End Comment Add Form -->

            <!-- Start Comments -->

            {% for comment in trick.comments %}
            {% include'tricks/_comments.html.twig' %}
            {% endfor %}

        </div>

        <!-- End Comments -->
        </div>
    </main>
</div>
    {% endfor %}
{% endblock %}
